<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-clear button-icon icon ion-ios7-arrow-back">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios7-gear" ng-click="showRightMenu()">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Visitor Registration</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close ng-click="login()">
                    Login
                </ion-item>
                <ion-item nav-clear menu-close ng-click="showToast('Search feature coming soon!', 'short', 'center')" href="#/app/search">
                    Search
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home">
                    Visitor
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/register">
                    Register
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Right Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <li>
                    <a class="item" menu-close nav-clear href="#/search">Search</a>
                </li>
                <li>
                    <a class="item" menu-close nav-clear href="#/settings">Settings</a>
                </li>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>



